body {
    background: linear-gradient(135deg, #131E4B, #551D9C, #30B5AF, #2B303A, #C5CBD9);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.btn-primary {
    background-color: #30B5AF;
    border-color: #30B5AF;
}

.btn-primary:hover {
    background-color: #2B303A;
    border-color: #2B303A;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(48, 181, 175, 0.5);
}
